
.list-main{

    display: flex;
    flex-direction: row;

    width: 100%;
}

.list-body{

    display: flex;
    flex-direction: column;

    width: 100%;
}

.list-list{

    display: flex;
    flex-direction: column;

    width: 100%;
}

.list-item{

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid lightgray;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    height: 100px;
}

.list-properties{
    display: flex;
    flex-direction: column;

    width: 40%;
}

.list-actions{
    display: flex;
    flex-direction: row;

    align-self: flex-end;
    width: 40%;
    direction: rtl;
}

.list-prop{
    margin-top: 10px;
}

.list-name{
    font-family: fantasy;
    font-style: italic;
    font-size: 15px;
    color: #428bca;
}

.list-by{
    font-family: Monospace;
    font-size: 15px;
}

.list-cost{
    font-family: Monospace;
    font-size: 15px;
    font-weight: bold;
}

.list-image{

    width: 20%;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.list-icon{

    width: 25px;
    height: 25px;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 90%;
    margin-left: 10px;
    cursor: pointer;
}